<!-- 头部 -->
<div class="detail_head" id="detail_header">
    <script type="text/template" id="detail_header_template">
        <span class="GoBack"></span>
        <hgroup class="title">
            <h1 class="main_title">
                <%=model.gameName%>
            </h1>
            <h2 class="sub_title">
                <%=model.courseName%>
                <%
                    var d = new Date(model.gameStartTime);
                %>
                <%=d.getFullYear()+"."+ (d.getMonth() + 1) + "." + d.getDate()%>
            </h2>
        </hgroup>
        <!--
        <a href="#" class="icon_close"></a>
        <a href="#" class="icon_help"></a>
        -->
        <span class="icon_data"></span>
    </script>
</div>

<!-- 计分表 -->
<div class="score_table">
    <ul class="table_item name" id="player_name">
        <script type="text/template" id="player_name_template">
            <li class="caption">PAR</li>
            <% _.each(model.playerScoreCard, function (scoreCard) { %>
            <li class="name_item"><%=scoreCard.playerName%></li>
            <% }) %>
        </script>
    </ul>

    <ul class="table_item score" id="player_score_total">
        <script type="text/template" id="player_score_total_template">
            <li class="caption"><%=model.grossPar%></li>
            <% _.each(model.playerScoreCard, function (scoreCard) { %>
            <li class="score_item">
                <p><%=scoreCard.gross%></p>
                <span>
                <%
                    if(scoreCard.grossHandicap == 0) {
                %>
                    E
                <%
                    }
                    else {
                %>
                    <%= scoreCard.grossHandicap > 0 ? "+" : ""%><%=scoreCard.grossHandicap%>
                <%
                    }
                %>
                </span>
            </li>
            <% }) %>
        </script>
    </ul>

    <!-- 记分牌颜色规则如下：
    score_color1：3bogey
    score_color2：2bogey
    score_color3：bogey
    score_color4：par0
    score_color5：birdie/eagle/albatross -->
    <div class="table_item score_detail" id="player_score_details">
        <script type="text/template" id="player_score_details_template">
            <%
                var _width = model.courseFairwayList.length * 33 + model.courseFairwayList.length / 9 * 55;
                if(_width < 320) {
                    _width = 320;
                }
            %>

            <ul style="width:<%=_width%>px;">
                <li class="hole_number">
                    <% _.each(model.courseFairwayList, function (fairway, index) { %>
                        <span><%=fairway.sort%></span>
                        <%
                            switch(index) {
                                case 8:
                                case 26:

                        %>
                            <span class="sum">OUT</span>
                            <%break%>
                        <%
                                case 17:
                                case 35:
                        %>
                            <span class="sum">IN</span>
                            <%break%>
                        <%
                            }
                        %>
                    <% }) %>
                </li>
                <li class="caption">
                    <%
                        var _sum = 0, _handicap = 0;
                        _.each(model.courseFairwayList, function (fairway, index) {
                            _sum += fairway.par;
                    %>
                            <span><%=fairway.par%></span>
                            <% if(index % 9 === 8) {%>
                                    <span class="sum"><%=_sum%></span>
                            <%
                                    _sum = 0;
                                }
                            %>
                        <% }) %>
                </li>
                <% _.each(model.playerScoreCard, function (scoreCard) { %>
                <li class="score_item">
                    <%
                        _sum = 0;
                        _handicap = 0;
                        _.each(scoreCard.scoreCardDetailListAll, function (holeScore, index) {
                            _sum += holeScore.totalScore ? holeScore.totalScore : 0;
                            _handicap += holeScore.handicap ? holeScore.handicap : 0;
                    %>
                            <div class="score_hole_item">
                                <div class="score_single <%=helper.getScoreColor(holeScore.handicap)%>"><%=helper.formatTotalScoreString(holeScore.totalScore)%></div>
                                <div class="item_gray">
                                    <%=helper.formatHandicapString(holeScore.handicap)%>
                                </div>
                            </div>
                            <%if(index % 9 === 8) {%>
                                <div class="score_hole_item sum">
                                    <div class="score_single"><%=_sum%></div>
                                    <div class="item_gray">
                                        <%=helper.formatHandicapString(_handicap)%>
                                    </div>
                                </div>
                            <%
                                _sum = 0;
                                _handicap = 0;
                            %>
                            <%}%>
                    <% }) %>
                </li>
                <% }) %>
            </ul>
        </script>
    </div>
</div>
