.wrap {
	background-color: #FCFCFC;
}

.common_header {
	height: 44px;
	line-height: 44px;
	background-color: #259CD0;
	color: #fff;
	font-size: 20px;
}

.common_header .title {
	display: block;
	width: 100%;
	text-align: center;
}

.icon_close,
.icon_share,
.icon_detail {
	display: inline-block;
	width: 24px;
	height: 24px;
	background: url(../img/un_icons.png) no-repeat;
	background-size: 24px auto;
}

.icon_close {
	background-position: 0 -96px;
}

.icon_detail {
	background-position: 0 -48px;
}

.common_header .btn_close,
.common_header .btn_share,
.common_header .btn_detail {
	text-align: center;
}

.common_header .btn_close {
	position: absolute;
	left: 0;
	width: 44px;
	height: 44px;
}

.common_header .icon_close,
.common_header .icon_share,
.common_header .icon_detail {
	vertical-align: -5px;
}

.btn_box {
	position: absolute;
	right: 0;
}

.btn_box a {
	float: right;
	width: 44px;
	height: 44px;
}

.game_info {
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	margin-bottom: 10px;
	padding: 10px 0 16px 0;
	background-color: #fff;
	background-image:linear-gradient(top, #fff , #E1DFE1);
	background-image: -webkit-linear-gradient(top, #fff, #E1DFE1);
	background-size: 100% 1px;
	background-repeat: no-repeat;
	background-position: bottom;
	color: #586267;
}

.game_info .game_name {
	font-size: 20px;
	color: #353a3d;
}

.game_info p {
	width: 70px;
	text-align: center;
}


.game_info .icon_cup {
	margin: 5px auto 0;
}

.icon_cup {
	display: block;
	width: 27px;
	height: 25px;
	background: url(../img/bg_cup.png) no-repeat;
	background-size: 27px 25px;
}

.info_detail {
	width: 100%;
	padding-left: 17px;
	
}

.text_green {
	color: #4c9746 !important;
    font-size:20px;
}

.score_container {
	background-color: #fff;
	background-image:linear-gradient(top, #E0DEE0, #fff);
	background-image: -webkit-linear-gradient(top, #E0DEE0, #fff);
	background-size: 100% 1px;
	background-repeat: no-repeat;
	background-position: top;
    padding-bottom: 50px;
}

.score_list {
	width: 100%;
}

.score_list li:nth-child(2n) {
	background-color: #F6F6F6;
}

.score_list li:nth-child(2n+1) {
	background-color: #fff;
}

.score_list li:before,
.score_list li:after {
	content: " "; 
    display: table; 
}

.score_list li:after {
	clear: both;
}

.score_list .score_caption .caption_item,
.score_list .list_item {
	float: left;
	box-sizing: border-box;
	height: 33px;
	line-height: 33px;
	text-align: left;
	font-weight: normal;
	color: #586267;
	font-size: 15px;
}

.score_list .score_caption .caption_item:first-child  {
	padding-left: 15px;
}

.score_list .score_caption .caption_item:last-child  {
	text-align: center;
}

.score_list .list_item:first-child {
	border-radius: 3px 0 0 3px;
	padding-left: 15px;
}

.score_list .list_item:last-child {
	border-radius: 0 3px 3px 0;
}

.score_list .list_item {
	width: 20%;
	height: 44px;
	line-height: 44px;
}

.score_list .rank {
	width: 15%;
	font-size: 22px;
	color: #445055;
}

.score_list .name {
	width: 35%;
	color: #445055;
	font-size: 17px;
	text-overflow: ellipsis;
    white-space: nowrap;
   	overflow: hidden;
}

.score_list .score {
	width: 30%;
	font-size: 24px;
	color: #3c5059;
    overflow: hidden;
}

.score_list .plus {
	margin-left: 3px;
	font-size: 14px;
	color: #5e7074;
}

.score_list .hole {
	text-align: center;
}

.owner_list .rank {
	width: 18%;
}

.owner_list .name {
	width: 26%;
	line-height: 30px;
}

.score_list .name span {
	display: block;
	height: 24px;
	text-overflow: ellipsis;
    white-space: nowrap;
   	overflow: hidden;
	margin-top: 3px;
	line-height: 24px;
	color: #353a3d;
    font-size:18px;
}

.score_list .name p {
	line-height: 16px;
	font-size: 10px;
	color: #888a88;
}

.owner_list .score {
	width: 26%;
}

.owner_list .hole {
	width: 17%;
}

.owner_list .edit {
	width: 13%;
	text-align: center;
}

.score_list .hole_number  {
	display: inline-block;
	width: 60px;
	height: 30px;
	line-height: 30px;
	text-align: center;
	vertical-align: middle;
	font-size: 16px;
	color: #4E565A;
}

.icon_delete {
	display: inline-block;
	width: 16px;
	height: 16px;
	background: url(../img/leaderboard.png);
	background-size: 200px 100px;
    background-position: 0px -69px;
}

.start_recording {
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 99;
    height: 46px;
}

.start_recording a {
    line-height: 46px;
    font-size: 20px;
    text-align: center;
    background-color: #FF9913;
    color: #fff;
    position: absolute;
    width: 100%;
}

.delete_game {
    background-image:linear-gradient(top, #E1DFE1, #fff);
    background-image: -webkit-linear-gradient(top, #E1DFE1, #fff);
    width: 100%;
    text-align: center;
    position: fixed;
    bottom: 0;
    left: 0;
    padding: 1px 0 0 0;
}

.delete_game div {
    background-color: white;
    line-height: 46px;
    font-size: 17px;
    color: #FF9913;
    width: 100%;
}