
<div class="download-header">
      <div class="content">
        <div class="download-logo"></div>
        <p>爱玩高尔夫<br></br>致力于为用户提供优质的高尔夫服务体验</p>
          <a class="btn-ios" id="j-ios" href="<%=ios_url%>">iOS 免费下载</a>
          <a class="btn-android" id="j-android" href="<%=android_url%>">Android 免费下载</a>
      </div>
</div>
<div class="download-bottom">
        <h2>功能介绍</h2>

            <p>爱玩高尔夫是携程旗下高尔夫服务平台。</p>
            <p>爱玩网络科技（上海）有限公司是携程旗下专注于以兴趣爱好为导向的移动互联网公司，高尔夫是其中的重要项目。</p>
            <p>爱玩高尔夫App主要功能包括：球场预订、高尔夫旅游、记分、赛事活动。爱玩高尔夫将努力成为中国最大的高尔夫综合服务平台，致力于为用户提供优质的高尔夫服务体验。</p>
            <P>通过携程主页（<a href="http://fun.ctrip.com/golf" target="_blank">WWW.CTRIP.COM</a>）的旅游频道下的“高尔夫”子频道，用户也可以预订高尔夫球场、套餐和旅游产品。</P>

</div>
<div  class="tip-android">
    若使用微信打开未自动下载，点击<i class="icon-menu"></i>选择 “<i class="icon-browser"></i><em>在浏览器中打开</em>” 即可下载爱玩高尔夫客户端！
</div>
<div  class="tip-ios">
    若使用微信打开无法下载，点击<i class="icon-menu"></i>选择“<em>在Safari中打开</em>” 即可下载爱玩高尔夫客户端！
</div>