
<!-- 赛事信息 -->
<div class="game_info">
    <ul class="info_detail" id="game_info_detail">
        <script type="text/template" id="game_info_detail_template">
            <li class="text_green"><%=model.gameName%></li>
            <li>
                <%
                var d = new Date(model.gameStartTime);
                %>
                <%=d.getFullYear()+"."+ (d.getMonth() + 1) + "." + d.getDate()%>
                &nbsp;-&nbsp;
                <%=model.courseName%>
            </li>
        </script>
    </ul>

    <p id="award_cup">
        <span class="icon_cup"></span>
        <span>奖项</span>
    </p>
</div>

<!--
<div id="last_update_timestamp"></div>
-->
<!-- 积分列表 -->
<div class="score_container" id="score_container">
    <script type="text/template" id="score_list_template">
        <ul class="score_list <%=model.isOwner ? "owner_list" : ""%>" id="score_list">
                <li class="score_caption">
                    <%if(model.isOwner) { %>
                        <div class="caption_item" style="width:18%;">名次</div>
                        <div class="caption_item" style="width:26%;">姓名</div>
                        <div class="caption_item" style="width:26%;">成绩</div>
                        <div class="caption_item" style="width:17%;">当前洞</div>
                        <div class="caption_item" style="width:13%">编辑</div>
                    <% } else { %>
                        <div class="caption_item" style="width:15%;">名次</div>
                        <div class="caption_item" style="width:35%;">姓名</div>
                        <div class="caption_item" style="width:30%;">成绩</div>
                        <div class="caption_item" style="width:20%;">当前洞</div>
                    <% } %>
                </li>
                <% _.each(model.playerSummeryList, function (score) { %>
                <li>
                    <div class="list_item rank"><%=score.index%></div>
                    <div class="list_item name">
                        <span><%=score.playerName%></span>
                        <%if(score.recordStatus == 3) { %>
                            <p>计分结束</p>
                        <% } else if (score.recordStatus == 2) { %>
                            <p class="text_green">计分中</p>
                        <% } else { %>
                            <p>未开赛</p>
                        <% } %>
                    </div>
                    <div class="list_item score">
                        <span class="score"><%=score.totalScore%></span>
                        <i class="plus"> <%=helper.formatHandicapString(score.handicap)%></i>
                    </div>
                    <div class="list_item hole"><span class="hole_number"><%=score.currentHoleName%></span></div>
                    <%if(model.isOwner) {%>
                        <div class="list_item edit">
                            <span class="icon_delete" data-id="<%=score.playerId%>"></span>
                        </div>
                    <%}%>
                </li>
                <% }) %>

        </ul>
    </script>
</div>


<div class="delete_game">
    <div>删除</div>
</div>

<!-- 底部按钮 fix-->
 <div class="start_recording" id="footer">
    <a href="javascript:void(0);">开始计分</a>
</div>

