<div class="register_pro content_list" style="padding:0px">


<nav class="tpye_tab" style="top:0">

    <li class="vDepart on" data-linetype="1" style="width:50%">出发地参团</li>
    <li class="vDestino " data-linetype="2" style="width:50%">目的地参团</li>

</nav>

<!--<div class="scrollproduct" style="overflow:hidden;height:461px;">-->
<div class="product_list_box" style="padding-top:42px">
    <div class="product_list">


        <ul class="hot_list_tab btn_active" data-pid="1863035&amp;saleCityId=2&amp;departCityId=2">
            <li class="hot_img">
                <img width="142px" height="80px" src="http://pkgpic.ctrip.com/images2/1/2/2_3912_s37275-m.JPG">
            </li>
            <li class="hot_vacation">

                <div class="ellipsis"><p class="xname">上海2日1晚高尔夫套餐·华凯1场球</p></div>
                <div class="price_wrap">
                    <div class="pices">
                        <dfn>¥</dfn>
                        <span>790</span>
                        起
                    </div>
                   <div class="feature">
                        <span>产品特色 <i class=""></i></span>
                   </div>
                </div>
            </li>
            <li class="product_feature">
                <p>精选青岛少有典型山地球场——天泰温泉高尔夫，体验山海相接的挥杆豪情。</p>
                <p>特别安排球会内的乐活酒店，享受舒适的酒店服务和出行便捷。</p>
                <p>挥杆之余，更可享受度假村内的温泉，让您的身心充分的放松。</p>
            </li>
        </ul>

        <ul class="hot_list_tab btn_active" data-pid="1863035&amp;saleCityId=2&amp;departCityId=2">
            <li class="hot_img">
                <img width="142px" height="80px" src="http://pkgpic.ctrip.com/images2/1/2/2_3912_s37275-m.JPG">
            </li>
            <li class="hot_vacation">

                <div class="ellipsis"><p class="xname">上海2日1晚高尔夫套餐·华凯1场球</p></div>
                <div class="price_wrap">
                    <div class="pices">

                        <dfn>¥</dfn>
                        <span>790</span>
                        起

                    </div>
                    <div class="feature">
                        <span>产品特色</span><i class=""></i>
                    </div>
                </div>
            </li>
            <li class="product_feature">
                精选青岛少有典型山地球场——天泰温泉高尔夫，体验山海相接的挥杆豪情。
                特别安排球会内的乐活酒店，享受舒适的酒店服务和出行便捷。
                挥杆之余，更可享受度假村内的温泉，让您的身心充分的放松。
            </li>
        </ul>

    </div>
    <div class="no_more">没有更多结果了</div>
    <div class="base_loading" style="display:none"><i></i>加载中</div>
    <div class="wireless_failure" style="display:none">
        <div class="no_wifi">
            <i class="wifi_ico"></i>
            <p>网络不给力，请稍后再试试吧</p>
            <a class="try_again" href="javascript:;">重试</a>
        </div>
        <div class="dial_service">
            <p>或者拨打携程客服电话</p>
            <a class="dial_btn" data-num="8008206666" href="tel:8008206666">联系客服</a>
        </div>
    </div>
    <div class="error" style="display:none">
        <i class="error_ico"></i>
        <p>没有找到符合条件的结果，<br>请修改条件重新查询</p>
    </div>
</div>
<!--</div>-->

<div class="warp_z"></div>
</div>