<!DOCTYPE html>

<html>
    <head>
       <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
       <script type="text/javascript" src="../../common/libs/jquery-2.1.1.js"></script>
       <style type="text/css">
      
          ul li {
            background-color: red;

          }

          ul li:nth-child(even){
            background-color: green;
          }
       </style>
       <!--
       如何解决按钮在IE7及更早浏览器下随着value增多两边留白也随着增加的问题？
        -->
    </head>
    <body>
      <div>
        <ul>
          <li><div style="float:left">hello1</div></li>
          <li style><div style="float:left">hello2</div></li>
        </ul>
</html>