<!DOCTYPE html>

<html>
    <head>
       <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
       <script type="text/javascript" src="../../common/libs/jquery-2.1.1.js"></script>
       <style type="text/css">
           .main { 
               width: 200px;
               height: 200px; 
               border: 1px #ccc solid; 
               background: #FFF;  
               border-radius: 8px;  
               -moz-border-radius: 8px;     
               -webkit-border-radius: 8px;  
               box-shadow: #999 1px 1px 2px;  
               behavior: url(css/PIE.htc);      
               /*这个路径与css无关，与页面相关，是相对于调用的页面来说的*/
       </style>
       <!--
        用样式实现div的圆角 ie7, ie8不支持
        -->
    </head>
    <body>
      <div>
        <p class="main">用样式实现div的圆角 ie7, ie8不支持</p>
      </div>
</html>