
	<div class="wrap wrap_gray">
		
		<!-- 奖项信息 -->
		<hgroup class="award_info">
			<h1>招商白金卡挥杆赛</h1>
			<h2>2014.05.05 - 美兰湖球场 - 18洞</h2>
		</hgroup>

		<dl class="award_list">
			<dt>总杆奖项</dt>
			<dd class="award_item basefix">
				<p>
					<span class="icon_cup_s">1</span>西蒙
				</p>
				<p>
					<span class="icon_cup_s">2</span>西蒙	
				</p>
				<p>
					<span class="icon_cup_s">3</span>西蒙
				</p>
			</dd>

			<dt>净杆奖项</dt>
			<dd class="award_item basefix">
				<p>
					<span class="icon_award">1</span>西蒙
				</p>
				<p>
					<span class="icon_award">2</span>西蒙	
				</p>
				<p>
					<span class="icon_award">3</span>西蒙
				</p>
			</dd>

			<dt>游戏奖项</dt>
			<dd class="award_item basefix">
				<ul class="select_list">
					<li class="select_list_item">
						<span class="icon_arrow_right"></span>
						<span class="icon_star_near"></span>
						最远距离奖
						<a href="#" class="isname">
							simon
						</a>
					</li>

					<li class="select_list_item">
						<span class="icon_arrow_right"></span>
						<span class="icon_star_far"></span>
						最近洞奖
						<a href="#">
							获奖者
						</a>
					</li>
				</ul>
			</dd>
		</dl>

	</div>