<div class="recommend_users_container">
<%if(!!data && !!data.count){%>
<div>
    <div class="recommend_users_amount">
        您共获得推荐奖励：<span class="total_amount"><%=data.totAmount%></span>元
    </div>

    <div class="recommend_users_div">
        <ul class="recommend_users_ul">
            <%_.each(data.recommendUsers, function(v,k){%>
            <li>
                <span><span class="name"><%=v.userName%></span>
                <%if(!!v.play){%>
                <span class="experienced">已体验</span></span>
                <span class="price_amount">+<%=v.amount%>元</span>
                <%}%>
            </li>
            <%})%>
        </ul>
    </div>
    
     <div class="no_more" style="display:none">没有更多结果了</div>
        <div class="wireless_failure" style="display:none">
            <div class="no_wifi">
                <i class="wifi_ico"></i>
                <p>网络不给力，请稍后再试试吧</p>
                <a class="try_again" href="javascript:;">重试</a>
            </div>
        </div>
</div>
<%}else{%>
    <div class="no_more">没有推荐记录</div>
<%}%>
    <div class="base_loading" style="display:none"><i></i>加载中</div>
<div class="clear"></div>
</div>
