<!DOCTYPE html>

<html>
    <head>
       <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
       <script type="text/javascript" src="../../common/libs/jquery-2.1.1.js"></script>
       <style type="text/css">
         #test{
          border-collapse:collapse;
          border:1px solid #ddd;
        }
         #test th,#test td{
          border:1px solid #ddd;
        }
       </style>
       <!--
         如何做1像素细边框的table 
        -->
    </head>
    <body>
        <div>如何做1像素细边框的table</div>
        <table id="test">
            <tr><th>姓名</th><td>Joy Du</td></tr>
            <tr><th>年龄</th><td>26</td></tr>
        </table>
    </body>
</html>