<!DOCTYPE html>

<html>
    <head>
       <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
       <script type="text/javascript" src="../../common/libs/jquery-2.1.1.js"></script>
       <style type="text/css">
            .image_container{
                font-size: 0px;
            }
       </style>
    </head>
    <body>
    	<div class="left_container">
            <img src="wu_1.jpg"/>
            <img src="wu_2.jpg"/>
            <img src="wu_3.jpg"/>
            <img src="wu_4.jpg"/>
      </div>

      <div class="center_container">
            <img src="wu_1.jpg"/>
            <img src="wu_2.jpg"/>
            <img src="wu_3.jpg"/>
            <img src="wu_4.jpg"/>
      </div>

      <div class="right_container">
            <img src="wu_1.jpg"/>
            <img src="wu_2.jpg"/>
            <img src="wu_3.jpg"/>
            <img src="wu_4.jpg"/>
      </div>
    </body>
   
</html>