<!DOCTYPE html>

<html>
    <head>
       <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
       <script type="text/javascript" src="../../common/libs/jquery-2.1.1.js"></script>
       <style type="text/css">
            .image_container{
                font-size: 0px;
            }

            .left_container{
              float:left;
              background-color: blue;
            }

            .right_container{
              float: right;
              background-color: red;
            }

            .center_container{
               background-color: yellow;
            }
       </style>
    </head>
    <body>
    	<div class="left_container">
            <ul>
              <li>侧事故11</li>
            </ul>
      </div>


      <div class="right_container">
            <ul>
              <li>侧事故11</li>
            </ul>
      </div>
      
      <div class="center_container">
            <ul>
              <li>侧事故11</li>
            </ul>
      </div>

    </body>
   
</html>