<!DOCTYPE html>

<html>
    <head>
       <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
       <script type="text/javascript" src="../../common/libs/jquery-2.1.1.js"></script>
       <style type="text/css">
           .vertical { 
              position:absolute;
              top:50%;
              left:50%;
              width:300px;
              height:200px;
              margin:-100px 0 0 -150px;
              background-color: green;
       </style>
       <!--
        用样式实现div的圆角 ie7, ie8不支持
        -->
    </head>
    <body>
      <div>
        <div class="vertical"><span>用样式实现div的圆角 ie7, ie8不支持</span></div>
      </div>
</html>