<div class="body">
    <div class="banner_box"  id="js_detail_pic_slide">
    </div>

    <table class="tab_container">
        <tbody>
        <tr>
            <td>
                <div class="booking_tab golf_tab" data-name="booking">
                    <ul class="tab_content">
                        <li class="main_title">订场</li>
                        <li class="feature">快速预订</li>
                    </ul>
                </div>
            </td>
            <td>
                <div class="package_tab golf_tab" data-name="package">
                    <ul class="tab_content">
                        <li class="main_title">套餐</li>
                        <li class="feature">球场+酒店</li>
                    </ul>
                </div>
            </td>

            <td>
                <div class="travel_tab golf_tab" data-name="travel">
                    <ul class="tab_content">
                        <li class="main_title">旅行</li>
                        <li class="feature">精选路线</li>
                    </ul>
                </div>
            </td>
        </tr>
        </tbody>
    </table>

    <div style="display: none;" class="tab_loading">
        <div style="" class="cui-breaking-load"> <div class="cui-i cui-m-logo"></div> <div class="cui-i cui-w-loading"></div></div>
    </div>

    <div class="homerecommend">
        <div class="golf_product">
            <ul>
                <li>
                    <a href="##" data-id="1792881">
                        <div class="product_pic">
                            <img src="http://webresource.c-ctrip.com/ResFunOnline/R3/mobile_image/package_recommed.png">
                        </div>
                        <div class="desc_container">
                            <div class="left">
                                <p class="main_title">上海2日1晚高尔夫套餐</p>
                                <p class="subtitle">华凯+棕榈滩2场球</p>
                            </div>
                            <div class="right">
                                <span class="price"><dfn class="price_unit">¥</dfn>1540<dfn class="price_suffix">起</dfn></span>
                            </div>
                            <div class="clear"></div>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="###" data-id="1759908">
                        <div class="product_pic">
                            <img src="http://webresource.c-ctrip.com/ResFunOnline/R3/mobile_image/travel_recommed.png">
                        </div>
                        <div class="desc_container">
                            <div class="left">
                                <p class="main_title">大理+丽江5日高尔夫之旅</p>
                                <p class="subtitle">风花雪月 古城印象</p>
                            </div>
                            <div class="right">
                                <span class="price"><dfn class="price_unit">¥</dfn>5819<dfn class="price_suffix">起</dfn></span>
                            </div>
                            <div class="clear"></div>
                        </div>
                    </a>
                </li>
            </ul>


        </div>
    </div>

</div>

