/*for sprite base css*/
.icon_cup_s,.icon_award,.icon_star_near,.icon_star_far,.icon_arrow_right{
    background: url("../img/leaderboard.png");
    background-size: 200px 100px;
}
.wrap_gray {
	height: 100%;
	background-color: #f8f8f8;
}

.award_info {
	padding: 12px 0 13px;
	background-image:linear-gradient(top, #fff , #D2CFD2);
	background-image: -webkit-linear-gradient(top, #fff, #D2CFD2);
	background-size: 100% 1px;
	background-repeat: no-repeat;
	background-position: bottom;
	text-align: center;
	background-color: #fff;
}

.award_info h1 {
	color: #353a3d;
	font-size: 22px;
}

.award_info h2 {
	color: #586267;
	font-size: 14px;
}

.award_list dt {
	height: 49px;
	padding-left: 12px;
	line-height: 58px;
	background-color: #F8F8F8;
	background-image:linear-gradient(top, #fff , #D2CFD2);
	background-image: -webkit-linear-gradient(top, #fff, #D2CFD2);
	background-size: 100% 1px;
	background-repeat: no-repeat;
	background-position: bottom;
	color: #323131;
	font-size: 17px;
}

.award_list .award_item {
	background-image:linear-gradient(top, #fff , #D2CFD2);
	background-image: -webkit-linear-gradient(top, #fff, #D2CFD2);
	background-size: 100% 1px;
	background-repeat: no-repeat;
	background-position: bottom;
	background-color: #fff;
}

.award_list .award_item p {
	float: left;
	width: 33%;
	line-height: 50px;
	text-align: center;
	color: #050505;
	font-size: 16px;
	text-overflow: ellipsis;
    white-space: nowrap;
   	overflow: hidden;
}

.award_list .award_item span {
	margin-right: 5px;
}

.icon_cup_s {
    display: inline-block;
    width: 21px;
    height: 21px;
    background-position: -52px -3px;
    font-size: 10px;
    color: #fff;
    font-style: italic;
    line-height: 16px;
    text-align: center;
    text-indent: -2px;
    vertical-align: middle;
}

.icon_award {
    display: inline-block;
    width: 22px;
    height: 25px;
    line-height: 26px;
    font-size: 9px;
    color: #73c531;
    vertical-align: middle;
    font-style: italic;
    text-indent: -2px;
    background-position: -30px -1px;
}

.select_list {
	
	padding-left: 20px;
}

.select_list .select_list_item {
	height: 42px;
	line-height: 42px;
	background-image:linear-gradient(top, #fff , #D2CFD2);
	background-image: -webkit-linear-gradient(top, #fff, #D2CFD2);
	background-size: 100% 1px;
	background-repeat: no-repeat;
	background-position: bottom;
	position: relative;
}

.select_list .select_list_item:last-child {
	border-image: none;
}

.icon_star_near,
.icon_star_far {
    display: inline-block;
    width: 23px;
    height: 23px;
    vertical-align: -4px;
    background-position: -207px -245px;
}

.icon_star_far {
    background-position: -207px -200px;
}

.select_list_item a {
	position: absolute;
	right: 0;
	width: 100%;
	box-sizing: border-box;
	height: 42px;
	line-height: 42px;
	padding-left: 120px;
	color: #cbc6c6;
	font-size: 14px;
}

.icon_arrow_right {
    display: inline-block;
    width: 6px;
    height: 10px;
    background-position: -16px -32px;
}

.select_list_item .icon_arrow_right {
	position: absolute;
	top: 50%;
	right: 11px;
	margin-top: -5px;
}

.select_list_item .isname {
	color: #050505;
	font-size: 16px;
}

.basefix:before,
.basefix:after {
    content: " ";
    display: table;
}

.basefix:after {
    clear: both;
}