<article class="p10">
    <%if(!!orderNo){ %>
    <div class="ticket_succeed_box finsh_title">
        <i class="succeed_icon"></i>
        <p class="ticket_succeed_txt">您的订单已成功提交！<br />
            我们会尽快处理。</p>
        <small class="ticket_succeed_hint">订单确认短信会发送至联系人手机</small>
    </div>
    <div class="ticket_borderbox" data-oid="<%=orderNo %>">
        <p><span class="desc">订单号：</span><%=orderNo%> <span class="right desc to_detail">查看详情></span></p>
        <p><!--<h3 class="ticket_suctit">--><span class="desc">球场名称：</span><span class="product_title"><%=orderName %></span><!--</h3>--></p>
        <table class="price_box">
            <tbody>
                <tr>
                    <td>
                        <dl>
                            <dt>总价</dt>
                            <dd class="cprice">
                                <dfn>¥</dfn>
                                <span><%=totalAmount%></span>
                            </dd>
                        </dl>
                    </td>
                    <td>
                        <dl>
                            <dt>在线预付</dt>
                            <dd class="cprice">
                                <dfn>¥</dfn>
                                <span><%=prePayAmount%></span>
                            </dd>
                        </dl>
                    </td>

                    <td>
                        <dl>
                            <dt>球场现付</dt>
                            <dd class="cprice">
                                <dfn>¥</dfn>
                                <span><%=onPayAmount%></span>
                            </dd>
                        </dl>
                    </td>

                    <td>
                        <dl>
                            <dt>充值抵扣</dt>
                            <dd class="cprice">
                                <dfn>¥</dfn>
                                <span><%=prePayCardAmount%></span>
                            </dd>
                        </dl>
                    </td>
                </tr>
            </tbody>
        </table>

        <p><i class=" ticket_mr10"><span class="desc">订单总额:</span></i><span class="corange ticket_price"><dfn>&yen;</dfn><%=amount %></span></p>
    </div>

    <div class="back_to_home_box">
        <span>返回首页，继续浏览</span>
    </div>
    <%}else{ %>
    <div class="wireless_failure">
        <div class="no_wifi">
            <i class="wifi_ico"></i>
            <p>网络不给力，请稍后再试试吧</p>
            <a class="try_again" href="javascript:;">重试</a>
        </div>
        <div class="dial_service" style="display: none;">
            <p>或者拨打携程客服电话</p>
            <a class="dial_btn" data-num="8008206666" href="tel:8008206666">联系客服</a>
        </div>
    </div>
    <%} %>
</article>