<div class="recommend_container">
    <div class="recommend_pic"><img style="width: 100%" src="http://webresource.c-ctrip.com/ResFunOnline/R3/mobile_image/recommend_ad.jpg"/></div>
    <div class="recommend_box">
       <div>&nbsp;&nbsp; Hi!您的朋友<span style="font-weight: bold"><%=data.username%></span>邀请您一起来爱玩高尔夫，
        推荐码: <span class="recommend_code"><%=data.recommendcode%></span>
       </div>
        <div>
            &nbsp;&nbsp; 现在下载爱玩高尔夫APP,注册并绑定成功后，输入推荐码，可获得订场抵用红包<span class="recommend_code"><%=data.award%></span>元哦！
        </div>

        <div class="btn_container">
            <button href="javascript:;" class="download_btn">下载 爱玩高尔夫</button>
        </div>
    </div>
    <div class="detail_box">
        <dl>
            <dt>活动细则</dt>
            <dd>1.点击上方链接下载爱玩高尔夫APP,注册->个人中心->设置->推荐爱玩高尔夫，输入朋友的推荐码，将获得<span class="recommend_code"><%=data.award%></span>元的余额红包。可用于在线支付时抵扣。</dd>
            <dd>2.同一帐号只在第一次绑定时赠送余额红包。每台手机仅限第一次注册时有效。</dd>
            <dd>3.发现任何作弊行为后，我们将取消用户获取奖励的资格。</dd>
        </dl>
    </div>
</div>